@using Project_Flight_Manager.Models;

@model IEnumerable<ReservationDataModel>

@{
    ViewData["Title"] = "Index";
}

<style>
    h1{
        color:white;
    }
    .table{
        border-collapse: collapse;
        margin: 25px 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        text-align: center;
        background-color: rgba(163, 167, 204, 0.5);
    }
    .table thead tr {
        background-color:  #007299;
        color: #ffffff;
        text-align: center;
    }
    .table th,
    .table td {
        padding: 5px 11px;
        font-size: 15px;
    }
    .table td {
        
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    .table th {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    
    .table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .table tbody tr:last-of-type {
        border-bottom: 2px solid  #007299;;
    }
    .table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    }
    .last-cell{
        display:flex;
    }
    .separator{
    margin: 0px 5px;
    color: #009879;
    }

    .btn{
        margin-top:15px;
        padding: 0;
    }
    .create-btn{
        padding: 9px 15px;
        border: 0 none;
        color: #ffffff;
        background: #007299;
        box-shadow: none;
        margin-top: 15px;
        border-radius: 7px;
    }
   </style>


<h1>Reservation</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EGN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (ReservationDataModel item in Model) {
        <tr>
            <td>
                @item.MiddleName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.EGN
            </td>
            <td>
                @item.TelNumber
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a> 
                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.ReservationId">Delete</a> 
                    <span>|</span>
                    <a asp-action="Edit" asp-route-id="@item.ReservationId">Edit</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
